#mobile-bg {
    margin: 10px auto;
    width: 400px;
    background: rgb(33, 33, 33);
    height: 700px;
    border-radius: 15px;
    position: relative;
}

#mobile-screen {
    background: white;
    height: 85%;
    width: 97%;
    margin: auto;
    position: relative;
    top: 33px;
    border-radius: 15px;
}

.content_nav {
    z-index: 111;
    bottom: 6px;
    left: 10px;
    position: absolute;
    img {
        z-index: 111;
        bottom: 15px;
        filter: invert(1);
        transform: rotate(180deg);
        left: 35px;
        width: 30px;
        position: absolute;
    }
}

.content_nav2 {
    z-index: 111;
    bottom: 16px;
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    position: absolute;
    background: white;
    border-radius: 50px;
}

.content_nav3 {
    z-index: 111;
    bottom: 20px;
    left: calc(100% - 95px);
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 5px;
    background: white;
}

#first_step,
#second_step {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    #apple {
        width: 200px;
        height: 200px;
        margin: auto;
        animation: entradaYsalida 3s;
        animation-fill-mode: forwards;
    }
}

#second_step {
    #animation_entranda {
        background: black;
        height: 0%;
        width: 100%;
        position: absolute;
        bottom: 0px;
        z-index: 1;
        animation: aparecerTop 2s 2.5s;
        animation-fill-mode: forwards;
        border-radius: 10px;
    }
    #content {
        opacity: 0;
        animation: entry-in 1s 4s;
        animation-fill-mode: forwards;
        h2 {
            font-size: 36px;
            small {
                color: #d6d6d6;
            }
        }
        padding: 15px;
        z-index: 9;
        color: white;
    }
}

.btn-siguiente {
    background: white;
    width: calc(100% - 20px);
    border-radius: 25px;
    height: 40px;
    font-weight: bold;
    border: 0;
    position: absolute;
    left: 10px;
    bottom: 30px;
    text-align: center
}

.btn-siguiente::before {
    content: "Siguiente";
}

.tercer_step {
    .btn-siguiente {
        animation: btn-siguiente 2s;
        animation-fill-mode: forwards;
        cursor: not-allowed;
        outline: 0;
    }
    .btn-siguiente::before {
        content: "";
    }
}

//  Animations
@keyframes btn-siguiente {
    0% {
        width: calc(100% - 20px);
    }
    50% {
        left: calc(50% - 20px);
        width: 40px;
        height: 40px;
        border-radius: 25px
    }
    100% {
        height: 100%;
        width: 100%;
        left: 0;
        bottom: 0px;
        border-radius: 15px;
    }
}

@keyframes aparecerTop {
    0% {
        bottom: 0px;
        height: 10px;
    }
    100% {
        height: 100%;
    }
}

@keyframes entradaYsalida {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes entry-in {
    0% {
        opacity: 0;
        transform: translate(-100%, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}