#mobile-bg {
    margin: 20px auto;
    width: 400px;
    background: rgb(33, 33, 33);
    height: 700px;
    box-shadow: 0px 0px 20px 3px black;
    border-radius: 15px;
    position: relative;
}

#mobile-screen {
    background: white;
    height: 85%;
    width: 97%;
    margin: auto;
    position: relative;
    top: 33px;
    border-radius: 15px;
}

.content_nav2 {
    z-index: 111;
    bottom: 16px;
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    position: absolute;
    background: white;
    border-radius: 50px;
}

#first_step,
#second_step {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    #apple {
        width: 200px;
        height: 200px;
        margin: auto;
        animation: entradaYsalida 3s;
        animation-fill-mode: forwards;
    }
}

#second_step {
    #animation_entranda {
        background: black;
        height: 0%;
        width: 100%;
        position: absolute;
        bottom: 0px;
        z-index: 1;
        animation: aparecerTop 2s 2.5s;
        animation-fill-mode: forwards;
        border-radius: 10px;
    }
    #content {
        opacity: 0;
        animation: entry-in 1s 4s;
        animation-fill-mode: forwards;
        h2 {
            font-size: 36px;
            small {
                color: #d6d6d6;
            }
        }
        padding: 15px;
        z-index: 9;
        color: white;
    }
}

.btn-siguiente {
    background: white;
    width: calc(100% - 20px);
    border-radius: 25px;
    height: 40px;
    font-weight: bold;
    border: 0;
    position: absolute;
    left: 10px;
    bottom: 30px;
    text-align: center
}

.btn-siguiente::before {
    content: "Siguiente";
}

.tercer_step {
    .btn-siguiente {
        animation: btn-siguiente 2s;
        animation-fill-mode: forwards;
        cursor: auto;
        outline: 0;
    }
    .btn-siguiente::before {
        content: "";
    }
}

.tercer_paso {
    animation: mostrarTexto 1s;
    animation-fill-mode: forwards
}

.div_tercerstep {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.upload-animation {
    position: absolute;
    width: 95%;
    bottom: 30px;
    left: 2.5%;
}

.cont-nav {
    cursor: pointer;
    width: 30px;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 26px;
}

.ball {
    animation: ball 300ms cubic-bezier(0.7, 0.06, 0.7, 0.4) infinite alternate;
    border-radius: 3em;
    height: 4em;
    position: relative;
    width: 4em;
    background-image: linear-gradient(90deg, red, #c52e2e);
    box-shadow: 6px 6px 19px -10px black;
}

.b {
    align-items: center;
    border-radius: 3px;
    position: absolute;
    top: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 5rem;
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-top: 2px solid steelblue;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    position: relative;
    animation: spin 3s linear infinite forwards;
}

.loader::before,
.loader::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border-top: 2px solid inherit;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.loader::before {
    top: 7px;
    left: 7px;
    width: 178px;
    height: 178px;
    border-top: 2px solid tomato;
    animation: spin 2s linear infinite forwards;
}

.loader::after {
    top: 16px;
    left: 16px;
    width: 160px;
    height: 160px;
    border-top: 2px solid yellowgreen;
    animation: spin 1s linear infinite forwards;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes ball {
    0%,
    10% {
        transform: translateY(-0.25em) scaleX(1);
    }
    100% {
        transform: translateY(0.5em) scaleX(1.2);
    }
}

//  Animations
@keyframes mostrarTexto {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        z-index: 9;
    }
}

@keyframes btn-siguiente {
    0% {
        width: calc(100% - 20px);
    }
    50% {
        left: calc(50% - 20px);
        width: 40px;
        height: 40px;
        border-radius: 25px
    }
    100% {
        height: 100%;
        width: 100%;
        left: 0;
        bottom: 0px;
        border-radius: 15px;
    }
}

@keyframes aparecerTop {
    0% {
        bottom: 0px;
        height: 10px;
    }
    100% {
        height: 100%;
    }
}

@keyframes entradaYsalida {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes entry-in {
    0% {
        opacity: 0;
        transform: translate(-100%, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}