<section id="mobile-bg">

    <!-- Pantalla -->
    <div id="mobile-screen">

        <!-- Onbording -->
        <div id="first_step">
            <img id="apple" src="/assets/images/56-apple-512.png">
        </div>

        <div id="second_step">
            <div id="animation_entranda"></div>
            <div id="content" [ngClass]="{'tercer_step' : siguiente }">
                <img src="/assets/images/happiness.png" style="filter:invert(1)!important;max-width:50%;    margin-top: 30%;">
                <h2>Bienvenidos<br>
                    <small> a la enchinchada!</small>
                </h2>
                <button class="btn-siguiente " (click)="setearTercerTiempo()"></button>
            </div>
        </div>

        <div class="div_tercerstep" [ngClass]="stepTercerActive">
            <div class="cont-nav" (click)="isMenu = !isMenu">
                <div class="nav-icon my-1 iconBar1{{isMenu}}"></div>
                <div class="nav-icon my-1 iconBar2{{isMenu}}"></div>
                <div class="nav-icon my-1 iconBar3{{isMenu}}"></div>
            </div>
            <!--- Example one to Load Bar --->
            <div class="b">
                <i class="ball"></i>
            </div>

            <div class="container">
                <div class="loader-wrapper">
                    <div class="loader"></div>
                </div>
            </div>

        </div>



    </div>

    <!-- Botones -->

    <div class="content_nav2">
    </div>

</section>