$btn-border-color:      #212529;
$btn-background-color:  #eeeeee;
$btn-text-color:        #212529;

$btn-active-background-color:  #212529;
$btn-active-text-color:        #eeeeee;

$enchinchada-btn-border-color:      #ffff00;
$enchinchada-btn-background-color:  #000000;
$enchinchada-btn-text-color:        #ffff00;
